version: '3.8'

services:
  app:
    build: .
    restart: always
    ports:
      - "8080:80"
    environment:
      - DB_HOST=db
      - DB_USER=${DB_USER:-root}
      - DB_PASS=${DB_ROOT_PASSWORD}
      - DB_NAME=${DB_NAME:-earncash_db}
    depends_on:
      - db
    networks:
      - earncash-network

  db:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME:-earncash_db}
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - earncash-network

networks:
  earncash-network:
    driver: bridge

volumes:
  db_data:
