name: Deploy to VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to VPS via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        password: ${{ secrets.VPS_PASSWORD }}
        script: |
          # Create project directory
          mkdir -p /www/wwwroot/earncash
          cd /www/wwwroot/earncash

          # Clone or Pull
          if [ ! -d ".git" ]; then
            git clone https://github.com/madupadilshan/earn_cash.git .
          else
            git reset --hard
            git pull origin main
          fi

          # Start Containers
          if command -v docker-compose &> /dev/null; then
              docker-compose down
              docker-compose up -d --build
          else
              docker compose down
              docker compose up -d --build
          fi
